<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="northwind" class="img-responsive text-center" src="modules/core/img/brand/northwind.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Welcome to the Northwind Node Example App.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.bradoncode.com/tutorials/learn-mean-stack-tutorial/" target="_blank">See the full tutorial</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats! You've configured and run the sample application.</h2>
		<p>This app makes use of the <a href="http://meanjs.org">MEAN.JS</a> stack for creating a web application boilerplate.</p>
		<p>This sample application has registration and login, category management and product search.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>Now you can edit Categories and Products.</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>
				<strong>M</strong>ongoDB
			</h3>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h3>
				<strong>E</strong>xpress
			</h3>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h3>
				<strong>A</strong>ngularJS
			</h3>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h3>
				<strong>N</strong>ode.js
			</h3>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
</section>
