<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="product as product.name for product in products | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="productSearch($item)" placeholder="Search Product...">
    </div>
    <div class="list-group">
        <a data-ng-repeat="product in products | limitTo: offset - products.length | limitTo: pageSize" data-ng-href="#!/products/{{product._id}}" class="list-group-item" data-num-pages="numPages()">
			<h4 class="list-group-item-heading" data-ng-bind="product.name"></h4>
            <span>{{ product.category.name }}</span>
        </a>
    </div>
    <pagination total-items="products.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="products.length > pageSize"></pagination>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
    	No Products yet, why don't you <a href="/#!/products/create">create one</a>?
    </div>
</section>
